.content a:not(.img-link):hover {
    color: #d2603a !important;
    border-bottom: 1px solid #d2603a;
    text-decoration: none
}

.post-tail-wrapper .post-meta a:not(:hover),
.content a:not(.img-link) {
    border-bottom: 1px solid var(--link-underline-color)
}

#sidebar .sidebar-bottom .icon-border,
.code-header,
i.far,
i.fas,
.content a.popup {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.content a.popup+em,
.embed-video+em,
.embed-audio+em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: 80%;
    padding: 0;
    color: #6d6c6c
}
#related-posts .card h4,
#post-list .card .card-body .card-title,
#post-list .card .card-body .card-text.content p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
@media all and (max-width: calc(850px - 1px)) {
    h1.dynamic-title {
        display: none
    }

    h1.dynamic-title~.content {
        margin-top: 2.5rem
    }
}
.content {
    font-size: 1.08rem;
    margin-top: 2rem;
    overflow-wrap: break-word
}
@media all and (min-width: 1200px) {
    .content {
        font-size: 1.03rem
    }
}
.content a.popup {
    margin-top: .5rem;
    margin-bottom: .5rem;
    cursor: zoom-in
}
.content ol:not([class]),
.content ol.task-list,
.content ul:not([class]),
.content ul.task-list {
    -webkit-padding-start: 1.75rem;
    padding-inline-start: 1.75rem
}

.content ol:not([class]) li,
.content ol.task-list li,
.content ul:not([class]) li,
.content ul.task-list li {
    margin: .25rem 0;
    padding-left: .25rem
}

.content ol:not([class]) ol,
.content ol:not([class]) ul,
.content ol.task-list ol,
.content ol.task-list ul,
.content ul:not([class]) ol,
.content ul:not([class]) ul,
.content ul.task-list ol,
.content ul.task-list ul {
    -webkit-padding-start: 1.25rem;
    padding-inline-start: 1.25rem;
    margin: .5rem 0
}

.content ul.task-list {
    -webkit-padding-start: 1.25rem;
    padding-inline-start: 1.25rem
}

.content ul.task-list li {
    list-style-type: none;
    padding-left: 0
}

.content ul.task-list li>i {
    width: 2rem;
    margin-left: -1.25rem;
    color: var(--checkbox-color)
}

.content ul.task-list li>i.checked {
    color: var(--checkbox-checked-color)
}

.content ul.task-list li ul {
    -webkit-padding-start: 1.75rem;
    padding-inline-start: 1.75rem
}

.content ul.task-list input[type=checkbox] {
    margin: 0 .5rem .2rem -1.3rem;
    vertical-align: middle
}

.content dl>dd {
    margin-left: 1rem
}

.content ::marker {
    color: var(--text-muted-color)
}

@media all and (min-width: 850px) {
    .content .table-wrapper>table {
        min-width: 70%
    }
}
@media all and (max-width: 576px) {
    main .content>blockquote[class^=prompt-] {
        margin-left: -1rem;
        margin-right: -1rem;
        border-radius: 0;
        max-width: none
    }
}
.content>div[class^=language-] {
    margin-left: -1rem;
    margin-right: -1rem;
    border-radius: 0
}
@media all and (min-width: 576px) {
    .content>div[class^=language-] {
        margin-left: 0;
        margin-right: 0;
        border-radius: 10px
    }
}
.access .content {
    font-size: .9rem
}
#search-result-wrapper .content {
    margin-top: 2rem
}

@media all and (max-width: calc(850px - 1px)) {
    #search-result-wrapper {
        width: 100%
    }

    #search-result-wrapper .content {
        letter-spacing: 0
    }
}

#post-list .card .card-body .post-meta,
#post-list .card .card-body .card-text.content {
    color: var(--text-muted-color) !important
}
#post-list .card .card-body .card-text.content p {
    line-height: 1.5;
    margin: 0
}
@media all and (max-width: 768px) {
    .content>p>img {
        max-width: calc(100% + 1rem)
    }
}