.blog-details .content.post-content h1,
.blog-details .content.post-content h2,
.blog-details .content.post-content h3,
.blog-details .content.post-content h4,
.blog-details .content.post-content h5,
.blog-details .content.post-content h6 {
  color: #2a2a2a;
  font-family: Lato, "Microsoft Yahei", sans-serif;
  font-weight: 400;
  line-height: 1.35;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-details .content.post-content h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog-details .content.post-content h2 {
  font-size: 1.54rem;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

.blog-details .content.post-content h3 {
  font-size: 1.36rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-details .content.post-content h4 {
  font-size: 1.18rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-details .content.post-content h5 {
  font-size: 1.05rem;
  margin-top: 1.75rem;
  margin-bottom: 0.9rem;
}

.blog-details .content.post-content h6 {
  font-size: 0.95rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  color: #585858;
  font-weight: 600;
}
